body {
    margin: 0;
}

.streg {
    border-bottom: solid 2px;
}

img {
    width: 100%;
    vertical-align: middle;
}

/******* Fonte *******/

h1 {
    font-size: 2rem;
    color: black;
    font-family: "Questrial";
    margin-bottom: -2vh;
}

h2 {
    font-size: 1.5rem;
    color: black;
    font-family: "Questrial";
    margin-bottom: -2.5vh;
    text-align: center;
}

h3 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    font-family: "Questrial";
}

h4 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    font-family: "Questrial";
}

p {
    font-size: 1.2rem;
    color: black;
    font-family: "Questrial";
    line-height: 28px;
}

h5 {
    font-size: 1.1rem;
    color: black;
    font-family: "Questrial";
    line-height: 150%;
    margin: -18px 150px 0px 0px;
    font-weight: normal;
}

/********* Menu **********/

.menu {
    text-align: center;
}

.logo {
    width: 10%;
}

.topnav {
    overflow: hidden;
    background-color: white;
    flex-grow: 1;
    transition: ease-out 0.3s;
}

.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 2rem;
}

.menuBottom:hover {
    border-bottom: solid 2px;
}

* {
    box-sizing: border-box;
}

/******* Splash *********/

#splash {
    background-image: url(splash/Artboard_5.svg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 0;
    position: relative;
}

/*********** om *********/

#om img {
    width: 100%;
}

.box h2 {
    font-weight: normal;
    line-height: 5.5vh;
    text-align: left;

}

.box1 {
    margin: 0px 165px;
}

.box2 {
    margin: 0px 165px;
}

.box3 {
    margin: 0px 165px;
}

.box4 {
    margin: 0px 165px;
}

#om .top {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}


#om .mid1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #e0e0df7a;

}

#om .mid2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #e0e0dfbf;
}

#om .bottom {
    display: flex;
    flex-wrap: wrap;
    background-color: #e0e0df7a;
}

#om .image {
    flex-grow: 0.7;
    flex-basis: 165px;
    margin: 25px 65px 35px 45px;
    border: solid;
    border-width: 20px;
    border-color: #5f702217;
}

#om .image1 {
    flex-grow: 0.7;
    flex-basis: 165px;
    margin: 25px 65px 35px 45px;
    border: solid;
    border-width: 20px;
    border-color: #5f702217;
}


#om .txt {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 25px 20px 20px 80px;
}

#om .txt1 {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 25px 80px 20px 20px;
}

/******Footer******/
#footer_wrapper {
    align-self: center;
    display: flex;
    justify-content: space-around;
    height: 8.5vh;
    margin: 2rem 0 0;
    max-width: 100%;
}

.info p {
    margin: 0.1rem;
    font-size: 0.9rem;
    line-height: 1rem;
}


footer {
    background-color: rgba(250, 250, 250, 0.3);
}

/******************Media*********/


@media only screen and (min-width:900px) {
    #om .bottom {
        flex-direction: row;
    }
}

@media only screen and (min-width:900px) {
    #om .mid2 {
        flex-direction: row;
    }
}

@media only screen and (min-width:900px) {
    #om .mid1 {
        flex-direction: row;
    }
}

@media only screen and (min-width:900px) {
    #om .top {
        flex-direction: row;
    }
}

@media only screen and (max-width:600px) {
    #om .bottom {
        margin-left: 20px;
        margin-right: 20px
    }

    #om .mid2 {
        margin-left: 40px;
        margin-right: 4px;
        flex-direction: column-reverse;
    }

    #om .top {
        margin-left: 20px;
        margin-right: 20px
    }

    #om .mid1 {
        margin-left: 40px;
        margin-right: 40px
    }

    .box {
        margin: -59vh 20vw 0vh 7vw;
    }

    .box h2 {
        font-size: 1.3rem;
    }

    .box1 {
        margin: -2px -30px;

    }

    .box2 {
        margin: -2px -50px;

    }

    .box3 {
        margin: -2px -50px;

    }

    .box4 {
        margin: -2px -30px;

    }

    #om .txt {
        margin: 25px 60px 20px 80px;
    }

    #om .txt1 {
        margin: 25px 90px 20px 70px;
    }

    #om .image {
        margin: -10px -27px 38px 77px;

    }

    #om .image1 {
        margin: -12px 98px 35px 67px;

    }
}

@media screen and (max-width: 1000px) {
    .topnav a {
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 1000px) {
    .container {
        margin: 0 200px 0 200px;
    }
}
